<div>
    <div>
        <div>
            <label for="">Name</label>
            <input type="text">
        </div>
        <div>
            <label for="">Surname</label>
            <input type="text">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text">
        </div>
        <div>
            <label for="">Type</label>
            <input type="text">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password">
        </div>
        <div>
            <button class="btn btn-success">Registrar</button>
        </div>
    </div>
</div>