<!-- <app-header></app-header> -->
<div>
    <div>

        <div>
            <label for="">Email</label>
            <input type="text">
        </div>

        <div>
            <label for="">Password</label>
            <input type="password">
        </div>

        <div>
            <button class="btn btn-success">Ingresar</button>
            <button class="btn btn-secondary">Admin</button>
            <button class="btn btn-secondary">User</button>
            <button class="btn btn-secondary">Teacher</button>
        </div>

    </div>
</div>